@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  background: url(../imgs/heroes-bg.71ab9a13d73de3860763.png);
  background-repeat: no-repeat;
  background-size: 100%;
}


::-webkit-scrollbar {
  color: #ff4d30;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4d30;
  border-radius: 25px;
}

main .hero-banner .container {
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
}

main .hero-banner .container,
main .contact-us .container {
  width: 80%;
  margin: 0 auto;
}

main .hero-banner .container {
  height: 50vh;
}

main .hero-banner .container h3 {
  font-size: 2.8rem;
  margin-bottom: 0.3rem;
}

main .hero-banner .container p {
  font-size: 1rem;
  font-weight: 600;
}

main .hero-banner .container p a {
  color: #000;
  text-decoration: none;
  transition: all .2s;
}

main .hero-banner .container p a:hover {
  color: #ff4d30;
}

/* Contact Us */
main .contact-us .container .row {
  display: flex;
  margin-top: 70px;
  column-gap: 20px;
}

main .contact-us .container .row .col {
  flex-basis: 50%;
}

main .contact-us .container .row .col h2 {
  font-size: 2.2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

main .contact-us .container .row .col p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

main .contact-us .container .row .col ul li {
  margin-bottom: 0.5rem;
  list-style: none;
}

main .contact-us .container .row .col ul li a {
  text-decoration: none;
  color: #000;
  transition: all .2s ease-in-out;
}

main .contact-us .container .row .col ul li a i {
  margin-right: 10px;
}

main .contact-us .container .row .col ul li a:hover {
  color: #ff4d30;
}

main .contact-us .container .row .col form .fields {
  margin: 15px 0px;
}

main .contact-us .container .row .col form .fields label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

main .contact-us .container .row .col form .fields label span {
  margin-left: 2px;
  color: #ff4d30;
}

main .contact-us .container .row .col form .fields input {
  background-color: #f2f2f2;
  border: none;
  font-size: 1rem;
  width: 100%;
  outline: none;
  padding: 19px 30px;
}

main .contact-us .container .row .col form .fields textarea {
  width: 100%;
  height: 180px;
  resize: none;
  background-color: #f2f2f2;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 19px 30px;
}

main .contact-us .container .row .col form #button {
  width: 100%;
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.1rem 2rem;
  transition: all .3s;
}

main .contact-us .container .row .col button a {
  text-decoration: none;
  color: #fff;
}

main .contact-us .container .row .col button a i {
  margin-right: 10px;
}

/* Touch With Us */
main .touch-with-us {
  background-image: url(../imgs/book-banner.09fcba44170a314c81a8.png);
  background-repeat: no-repeat;
  display: flex;
  height: 20vh;
  margin-top: 7rem;
  position: relative;
  width: 100%;
}

main .touch-with-us .bg-overlay {
  background-color: #2d2d2d;
  height: 100%;
  opacity: .89;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

main .touch-with-us .bg-overlay .container .text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  height: 23.5vh;
}

main .touch-with-us .bg-overlay .container .text-content h2 {
  color: #Fff;
  font-size: 1.8rem;
}

main .touch-with-us .bg-overlay .container .text-content span {
  align-items: center;
  color: #ff4d30;
  display: flex;
  font-size: 1.8rem;
  gap: 1rem;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  main .contact-us .container .row {
    flex-direction: column;
  }

  main .contact-us .container .row .col {
    margin: 20px 0px;
  }

  main .touch-with-us {
    background-image: url(../imgs/book-banner.09fcba4….png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2rem 0;
    display: flex;
    height: auto;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  main .touch-with-us .bg-overlay {
    padding: 2rem 0;
    background-color: #2d2d2d;
    background-size: 100% 100%;
    height: auto;
    opacity: .89;
    position: absolute;
    width: 100%;
  }

  main .touch-with-us .bg-overlay .container .text-content h2 {
    margin: 0 auto;
    font-size: 18px;
  }

  main .touch-with-us .bg-overlay .container .text-content span {
    margin: 0 auto;
    font-size: 14px;
  }

  main .touch-with-us .bg-overlay .container .text-content {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  main .touch-with-us .bg-overlay .container .text-content {
    flex-direction: column;
  }
}