@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header {
  width: 80%;
  margin: 0 auto;
}

header .container {
  padding: 25px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo .logo-box {
  width: 140px;
}

header .container .logo .logo-box img {
  width: 100%;
}


header .container .menu ul {
  display: flex;
}

header .container .menu ul li {
  list-style: none;
  margin: 0px 12px;
}

header .container .menu ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s;
}

header .container .menu ul li a:hover {
  color: #ff4d30;
}

header .container .nav-buttons ul {
  display: flex;
}

header .container .nav-buttons ul li{
  list-style: none;
  margin: 0px 15px;
}

header .container .nav-buttons ul li a {
  text-decoration: none;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: all .3s;
  position: relative;
}


header .container .nav-buttons ul li:first-child {
  padding: 0.7rem 1.7rem;
}

header .container .nav-buttons ul li:first-child a:hover {
  color: #ff4d30;
}

header .container .nav-buttons ul li:last-child {
  background-color: #ff4d30;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
  color: #fff;
  padding: 0.7rem 1.7rem;
  transition: all .3s;
  cursor: pointer;
}

header .container .nav-buttons ul li:last-child a {
  color: #fff;
}

header .container .nav-buttons ul li:last-child:hover {
  box-shadow: 0 10px 15px 0 rgb(255 83 48 / 50%);
  background-color: #fa4226;
}

/* Header Account */
header .container .nav-buttons-account ul {
  display: flex;
}

header .container .nav-buttons-account ul li {
  list-style: none;
  margin: 0px 15px;
}

header .container .nav-buttons-account ul li a {
  text-decoration: none;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all .3s;
}

header .container .nav-buttons-account ul li:first-child a:hover {
  color: #ff4d30;
}

/* Mobile header */
header .mobile-header {
  display: none;
}

:root {
  --nav-bg: #03000e;
  --main-clr: #ff4d30;
  --nav-shadow: 0px 3px var(--main-clr);
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #fa4226;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
}

nav .mobile-logo {
  width: 80px;
}

nav .mobile-logo img {
  width: 100%;
}

nav ul {
  --padding: 20px;
  --font-size: 17px;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  overflow-y: hidden;
  transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
  box-shadow: var(--nav-shadow);
}

nav ul li {
  padding: var(--padding);
  color: #000;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.7px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
  color: #fa4226;
}

nav .menu span {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: #fa4226;
  transition: 0.3s ease;
  transform-origin: left;
}

nav .menu.active span {
  background: var(--main-clr);
}

nav .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}

header .mobile-header nav  li.button-1 {
  list-style: none;
  margin: 0px 15px;
}

header .mobile-header nav  li.button-1 a {
  text-decoration: none;
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  transition: all .3s;
  position: relative;
}


header .mobile-header nav  li.button-1 {
  padding: 0.7rem 1.7rem;
}

header .mobile-header nav li.button-1 a:hover {
  color: #ff4d30;
}

header .mobile-header nav li.button-2 {
  background-color: #ff4d30;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
  color: #fff;
  padding: 0.7rem 1rem;
  transition: all .3s;
  cursor: pointer;
  position: relative;
}

header .mobile-header nav  li.button-2 a {
  color: #fff;
}

header .mobile-header nav  li.button-2:hover {
  box-shadow: 0 10px 15px 0 rgb(255 83 48 / 50%);
  background-color: #fa4226;
}

@media (max-width: 910px) {
   #nav {
    overflow-x: hidden;
   }
  
  header {
    width:100%;
  }
  header .container {
    display: none;
  }


  header .mobile-header {
    display: block;
  }

  nav .menu {
    display: flex;
  }

  nav ul {
    --height: 0px;

    flex-direction: column;
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 56px;
    height: var(--height);
    transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
  }

  nav ul.active {
    --height: calc((((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber));
    /*   (Block Level Padding + The Font Size) * The Number of Children   */


    transition: 1s ease;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    color: #000;
  }

  nav ul li a {
    width: 100%;
    text-transform: capitalize;
  }


}

@media only screen and (max-width: 767px) {
  header .container {
    flex-direction: column;
    align-items: center;
  }

  header .container .menu ul,
  header .container .nav-buttons ul {
    display: block;
    text-align: center;
  }

  header .container .menu ul li {
    padding: 15px 0px;
  }

  main {
    margin: 100px 0px;
  }

}

/* Tablet Media Device */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .container {
    flex-direction: column;
  }

  header .container .logo {
    display: block;
  }

  header .container .menu ul li a,
  header .container .nav-buttons ul li a {
    font-size: 0.9rem;
  }

  header .container .nav-buttons {
    margin: 20px 0px 0px 0px;
  }
}