@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  color: #ff4d30;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4d30;
  border-radius: 25px;
}


body {
  background-color: #f8f8f8;
  font-family: 'Poppins', sans-serif;
  background: url(../imgs/hero-bg.3b5f7a2502f0f81d1490.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: 900px;
  background-size: 50%;
}



/* Main Start */
main .hero-banner .container,
main .book-car,
main .plans,
main .vehicle-models,
main .choose-us .container,
main .clients .container,
main .ads .container,
main .download .container {
  width: 80%;
  margin: 80px auto;
}

main .hero-banner .container .row {
  display: flex;
  align-items: center;
  height: 100vh;
}

main .hero-banner .container .row .col:first-child {
  flex-basis: 40%;
}

main .hero-banner .container .row .col:last-child {
  flex-basis: 60%;
}

main .hero-banner .container .row .col h4 {
  color: #010103;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
}

main .hero-banner .container .row .col h1 {
  color: #010103;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.3rem;
  margin-top: 1rem;
}

main .hero-banner .container .row .col span {
  color: #ff4d30;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.3rem;
  margin-top: 1rem;
}

main .hero-banner .container .row .col p {
  color: #706f7b;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

main .hero-banner .container .row .col img {
  width: 100%;
}

main .hero-banner .container .row .col .hero-banner-buttons {
  display: flex;
}

main .hero-banner .container .row .col .hero-banner-buttons button {
  flex-basis: 50%;
}

main .hero-banner .container .row .col .hero-banner-buttons button:first-child {
  cursor: pointer;
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
  padding: 1rem 1rem;
  transition: all .3s;
}

main .hero-banner .container .row .col .hero-banner-buttons button:first-child a {
  text-decoration: none;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

main .hero-banner .container .row .col .hero-banner-buttons button:first-child a>i {
  margin: 0px 5px;
}

main .hero-banner .container .row .col .hero-banner-buttons button:first-child:hover {
  background-color: #fa4226;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .6);
}

main .hero-banner .container .row .col .hero-banner-buttons button:last-child {
  cursor: pointer;
  background-color: #010103;
  border: 2px solid #010103;
  border-radius: 0.3rem;
  padding: 1rem 1rem;
  transition: all .3s;
  margin-left: 12px;
}

main .hero-banner .container .row .col .hero-banner-buttons button:last-child a {
  text-decoration: none;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

main .hero-banner .container .row .col .hero-banner-buttons button:last-child a>i {
  margin: 0px 5px;
}

main .hero-banner .container .row .col .hero-banner-buttons button:last-child:hover {
  background-color: #fff;
}

main .hero-banner .container .row .col .hero-banner-buttons button:last-child:hover>a {
  color: #000;
}

/* Book your car */


main .book-car .container {
  background-color: #fff;
  background-image: url(../imgs/book-bg.6f629a1041e9fd9c6685.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
  padding: 2rem 2.5rem 3rem 3.5rem;
  position: relative;
  width: 100%;
  z-index: 4;
}

main .book-car .container .row {
  display: flex;
  margin-bottom: 15px;
  column-gap: 20px;
}

main .book-car .container h2 {
  margin: 15px 0px;
}

main .book-car .container .row .col {
  flex-basis: 33.3%;
}

main .book-car .container .row .col .field label {
  display: block;
  font-weight: 600;
  margin: 10px 0px;
}

main .book-car .container .row .col .field label>i,
span {
  color: #ff4d30;
  margin-right: 7px;
}

main .book-car .container .row .col .field select {
  width: 100%;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
  color: #ababab;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  padding: 0.9rem 0.8rem;
}

main .book-car .container .row .col .field input[type="date"] {
  width: 100%;
  padding: 0.9rem 0.8rem;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
  color: #ababab;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
}

main .book-car .container .row .col .field button {
  margin: 44.5px 0px 0px 0px;
  width: 100%;
  text-align: center;
  background-color: #ff4d30;
  border: none;
  box-shadow: 0 10px 15px rgba(255, 83, 48, .35);
  cursor: pointer;
  height: fit-content;
  transition: all .3s;
  padding: 0.9rem 0.8rem;
}

main .book-car .container .row .col .field button a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.2rem;
}

/* Plans */
main .plans .container {
  margin: 120px 0px;
}

main .plans .container .text-center h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

main .plans .container .text-center h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

main .plans .container .row {
  display: flex;
  column-gap: 50px;
  margin: 30px 0px;
}

main .plans .container .row .col {
  flex-basis: 33.33%;
  text-align: center;
}

main .plans .container .row .col h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main .plans .container .row .col p {
  text-align: center;
  width: 80%;
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  margin: 15px auto;
}

/* Vehicle Models */

main .vehicle-models .container .text-center h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

main .vehicle-models .container .text-center h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

main .vehicle-models .container .text-center p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  margin: 15px 0px;
}

main .vehicle-models .container .row {
  display: flex;
  column-gap: 50px;
}

main .vehicle-models .container .row .buttons-box {
  flex-basis: 20%;
}

main .vehicle-models .container .row .colored-box {
  background-color: #ff4d30 !important;
  color: #fff;
}

main .vehicle-models .container .row .buttons-box .buttons {
  background-color: #e9e9e9;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 1.3rem 1.8rem;
  text-align: left;
  transition: all .2s;
  margin: 7px 0px;
}

main .vehicle-models .container .row .buttons-box .buttons:hover {
  background-color: #ff4d30;
  color: #fff;
}

main .vehicle-models .container .row .car {
  flex-basis: 60%;
  text-align: center;
  align-self: center;
}

main .vehicle-models .container .row .car-info {
  flex-basis: 20%;
}

main .vehicle-models .container .row .car-info .car-description .car-price {
  background-color: #ff4d30;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  width: 100%;
}

main .vehicle-models .container .row .car-info .car-description .car-price h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

main .vehicle-models .container .row .car-info .car-description .car-price span {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

main .vehicle-models .container .row .car-info .car-description .car-table .car-table-row {
  display: flex;
  border-left: 2px solid #706f7b;
  border-right: 2px solid #706f7b;
  border-bottom: 2px solid #706f7b;
}

main .vehicle-models .container .row .car-info .car-description .car-table .car-table-col {
  flex-basis: 50%;
  text-align: center;
}

main .vehicle-models .container .row .car-info .car-description .car-table .car-table-row .car-table-col span {
  color: #000;
  font-size: 0.9rem;
  margin: 10px 0px;
}

main .vehicle-models .container .row .car-info .car-description .car-table .car-table-row .car-table-col {
  padding: 0.2rem 0.3rem;
}

main .vehicle-models .container .row .car-info .car-description .car-table .car-table-row .car-table-col:first-child {
  border-right: 2px solid #706f7b;
  margin: 7px 0px;
}

main .vehicle-models .container .row .car-info .car-description .car-table .car-table-row .car-table-col:last-child {
  margin: 7px 0px;
}

main .vehicle-models .container .row .car-info .car-description button {
  width: 100%;
  text-align: center;
  background-color: #ff4d30;
  box-shadow: 6px 6px 0 #efe9e9;
  padding: 1rem;
  transition: all .3s;
  padding: 0.8rem 1.8rem;
  text-align: center;
  transition: all .2s;
  margin: 12px 0px;
  border: none;
}

main .vehicle-models .container .row .car-info .car-description button a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}

main .vehicle-models .container .row .car-info .car-description button:hover {
  background-color: #e9381d;
}

/* ADS */
main .ads {
  background-color: #2d2d2d;
}

main .ads .container {
  margin: 100px auto;
  padding: 4rem 0rem;
}

main .ads .container h1 {
  font-size: 3.2rem;
  color: #fff;
}

main .ads .container h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin: 15px 0px;
}

/* Choose Us Section */
main .choose-us {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../imgs/bg.82b3bf0dc76cd35f3da0.png);
  background-position: -225px 255px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0 10rem;
}



main .choose-us .container .hero-banner-choose {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .choose-us .container .hero-banner-choose img {
  width: 100%;
}

main .choose-us .container .row {
  display: flex;
  column-gap: 150px;
  margin: 60px 0px 0px 0px;
}

main .choose-us .container .row .col {
  flex-basis: 50%;
}

main .choose-us .container .row .col:first-child h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

main .choose-us .container .row .col:first-child h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin: 25px 0px;
}

main .choose-us .container .row .col:first-child p {
  color: #706f7b;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 3.3rem;
  font-family: 'Rubik', sans-serif;
}

main .choose-us .container .row .col:first-child button {
  display: flex;
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.8rem 2rem;
  text-decoration: none;
  transition: all .3s;
}

main .choose-us .container .row .col:first-child button a {
  text-decoration: none;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

main .choose-us .container .row .col:first-child button a>i {
  margin: 0px 5px;
}

main .choose-us .container .row .col:first-child button:hover {
  background-color: #fa4226;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .6);
}

main .choose-us .container .row .col:last-child .row-inside-col {
  display: flex;
  margin-top: 2rem;
  column-gap: 10px;
}

main .choose-us .container .row .col:last-child .row-inside-col .icon {
  flex-basis: 20%;
}

main .choose-us .container .row .col:last-child .row-inside-col .icon img {
  width: 100%;
}

main .choose-us .container .row .col:last-child .row-inside-col .content {
  flex-basis: 80%;
}

main .choose-us .container .row .col:last-child .row-inside-col .content h4 {
  font-size: 1.8rem;
}

main .choose-us .container .row .col:last-child .row-inside-col .content p {
  width: 70%;
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 0.2rem;
}

/* Clients */
main .clients {
  padding: 100px 0px;
}

main .clients .container .clients-title {
  text-align: center;
}

main .clients .container .clients-title h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

main .clients .container .clients-title h2 {
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
}

main .clients .container .clients-title p {
  max-width: 60%;
  margin: 0 auto;
  color: #706f7b;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

main .clients .container .row {
  display: flex;
  column-gap: 50px;
  margin: 30px 0px;
}

main .clients .container .row .col {
  position: relative;
  flex-basis: 50%;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .08);
  padding: 3.5rem;
}

main .clients .container .row .col blockquote>p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0px 0px 45px 0px;
}

main .clients .container .row .col .profile-quotes {
  width: 85%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}

main .clients .container .row .col .profile-quotes .profile {
  display: flex;
  align-items: center;
}

main .clients .container .row .col .profile-quotes .profile .profile-img {
  width: 75px;
  height: 75px;
}

main .clients .container .row .col .profile-quotes .profile .profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

main .clients .container .row .col .profile-quotes .profile span {
  margin-left: 25px;
  color: #000;
}

main .clients .container .row .col .profile-quotes .profile span>h4 {
  font-size: 1.1rem;
}

main .clients .container .row .col .profile-quotes .profile span>p {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

main .clients .container .row .col .profile-quotes .icon i {
  color: #ff4d30;
  font-size: 4rem;
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }

}

/* Faq */
main .faq-section {
  background-image: url(../imgs/car.5e21eedbea3280311aff.png);
  background-position: 0 70%;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 10rem 0;
}

main .faq-section .container .faq-title {
  text-align: center;
}

main .faq-section .container .faq-title h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

main .faq-section .container .faq-title h2 {
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
}

main .faq-section .container .faq-title p {
  max-width: 60%;
  margin: 0 auto;
  color: #706f7b;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

main .faq-section .container .faq-box {
  margin: 100px auto;
  width: 60%;
  background-color: #fff;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
  color: #010103;
  cursor: pointer;
}

main .faq-section .container .faq-box details {
  background-color: #fff;
  padding: 15px 30px;
}

main .faq-section .container .faq-box details.active {
  background-color: #ff4d30;
  padding: 0px;
}

main .faq-section .container .faq-box details.active>p {
  background-color: #fff;
  padding: 15px 30px;
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.1rem;
}

main .faq-section .container .faq-box details.active summary {
  color: #Fff;
  padding: 15px 30px;
  background-color: #ff4d30;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
}

main .faq-section .container .faq-box details summary {
  color: #000;
}

main .faq-section .container .faq-box details.active>summary {
  list-style-type: '1. ';
}

main .faq-section .container .faq-box details:nth-child(2)>summary {
  list-style-type: '2. ';
  font-size: 1rem;
  font-weight: 500;
}

main .faq-section .container .faq-box details:nth-child(3)>summary {
  list-style-type: '3. ';
  font-size: 1rem;
  font-weight: 500;
}

main .faq-section .container .faq-box details:nth-child(2)>p,
main .faq-section .container .faq-box details:nth-child(3)>p {
  background-color: #fff;
  padding: 15px 0px;
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.1rem;
}

main .faq-section .container .faq-box details:nth-child(2)>summary>i,
main .faq-section .container .faq-box details:nth-child(3)>summary>i {
  color: #000;
}


/* Download Section */

main .download {
  background-color: #f8f8f8;
  background-image: url(../imgs/bg02.3efbc4567749d0a5671e.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
  width: 100%;
}

main .download .container .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 70%;
  text-align: left;
}

main .download .container .text h2 {
  color: #010103;
  font-size: 3.0rem;
}

main .download .container .text p {
  width: 70%;
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

main .download .container .stores-image {
  margin: 35px 0px;
}

main .download .container .stores-image img:first-child {
  margin-right: 30px;
}

@media only screen and (max-width: 767px) {
  body {
    background: none;
  }

  html {
    overflow-x: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .hero-banner .container,
  main .book-car,
  main .plans,
  main .vehicle-models,
  main .choose-us .container,
  main .clients .container,
  main .ads .container,
  main .download .container {
    width: 95%;
    margin: 0 auto;
  }

  main .hero-banner .container .row {
    flex-direction: column;
  }

  main .hero-banner .container .row .col h1 {
    font-size: 1.5rem;
  }

  main .hero-banner .container .row .col h1>span {
    font-size: 1.5rem;
  }

  main .hero-banner .container .row .col {
    text-align: center;
  }

  main .book-car .container .row {
    flex-direction: column;
  }

  main .book-car .container .row .col main .book-car .container .row .col .field {
    display: block;
  }

  main .plans .container {
    display: block;
  }

  main .plans .container .text-center {
    text-align: center;
  }

  main .plans .container .text-center h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  main .plans .container .row {
    flex-direction: column;
    align-items: flex-start;
  }

  main .vehicle-models .container {
    text-align: center;
  }

  main .vehicle-models .container .row {
    flex-direction: column;
  }

  main .vehicle-models .container .row .buttons-box .buttons {
    text-align: center;
  }

  main .ads .container {
    text-align: center;
  }

  main .ads .container .text-center h1 {
    font-size: 2.4rem;
  }

  main .choose-us .container .row {
    flex-direction: column;
  }


  main .choose-us .container .row .col:last-child {
    margin: 15px 0px;
  }

  main .choose-us .container .row .col:last-child .row-inside-col .content h4 {
    font-size: 18px;
  }

  main .choose-us .container .row .col:last-child .row-inside-col .content p {
    width: 100%;
  }

  main .clients {
    padding: 0px;
  }

  main .clients .container .row {
    flex-direction: column;
  }

  main .clients .container .row .col {
    margin: 20px 0px;
    padding: 20px 20px 70px 20px;
  }

  main .clients .container .row .col profile-quotes {
    margin: 25px 0px;
  }

  main .clients .container .row .col blockquote>p {
    font-size: 14px;
  }

  main .faq-section .container .faq-box {
    width: 95%;
  }

  main .download {
    padding: 2.5rem 0rem;
    margin: 0 auto;
  }

  main .download .container .text {
    max-width: 95%;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
  }

  main .download .container .text h2 {
    font-size: 1.5rem;
  }

  main .download .container .text p {
    font-size: 1rem;
    text-align: center;
    width: 95%;
  }

  main .download .container .stores-image {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  main .download .container .stores-image img {
    width: 100px;
    margin: 0px 5px;
  }

  main .download .container .stores-image img:first-child {
    margin-right: 0px;
  }

  main .vehicle-models .container .row .car {
    width: 60%;
    margin: 0 auto;
  }

  main .vehicle-models .container .row .car img {
    width: 100%;
  }

  main .vehicle-models .container .row .buttons-box .buttons {
    padding: 1rem;
    margin: 10px 0px;
  }

  main .hero-banner .container .row .col .hero-banner-buttons {
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }

  main .hero-banner .container .row .col .hero-banner-buttons button {
    margin: 10px 0px;
    cursor: pointer;
    background-color: #010103;
    border: 2px solid #010103;
    border-radius: 0.3rem;
    padding: 1rem 1rem;
    transition: all .3s;
    margin-left: 12px;
  }

  main .clients .container .row .col .profile-quotes .icon {
    display: none;
  }

  main .clients .container .row .col .profile-quotes .profile span>h4 {
    font-size: 0.8rem;
  }

  main .clients .container .row .col .profile-quotes .profile span>p {
    font-size: 0.8rem;
  }

  main .plans .container .text-center h4 {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }

  main .plans .container .text-center h1 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }

  main .choose-us .container .row .col:first-child h2 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}


/* Tablet Media Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background: none;
    overflow-x: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .hero-banner .container,
  main .book-car,
  main .plans,
  main .vehicle-models,
  main .choose-us .container,
  main .clients .container,
  main .ads .container,
  main .download .container {
    width: 80%;
    margin: 80px auto;
  }


  main .hero-banner .container {
    margin-bottom: 0px;
  }

  main .hero-banner .container .row {
    flex-direction: column;
  }

  main .hero-banner .container .row .col h1 {
    font-size: 1.5rem;
  }

  main .hero-banner .container .row .col h1>span {
    font-size: 1.5rem;
  }

  main .hero-banner .container .row .col {
    text-align: center;
  }

  main .hero-banner .container .row .col:last-child {
    display: block;
  }

  main .book-car .container .row {
    flex-direction: column;
  }

  main .book-car .container .row .col main .book-car .container .row .col .field {
    display: block;
  }

  main .plans .container {
    display: block;
  }

  main .plans .container .text-center {
    text-align: center;
  }

  main .plans .container .text-center h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  main .plans .container .row {
    flex-direction: column;
    align-items: flex-start;
  }

  main .vehicle-models .container {
    text-align: center;
  }

  main .vehicle-models .container .row {
    flex-direction: column;
  }

  main .vehicle-models .container .row .buttons-box .buttons {
    text-align: center;
  }

  main .ads .container {
    text-align: center;
  }

  main .ads .container .text-center h1 {
    font-size: 2.4rem;
  }

  main .choose-us .container .row {
    flex-direction: column;
  }

  main .choose-us .container .row .col:last-child {
    margin: 15px 0px;
  }

  main .clients .container .row {
    flex-direction: column;
  }

  main .clients .container .row .col {
    margin: 20px 0px;
    padding: 3.5rem 3.5rem 4rem 3.5rem;
  }

  main .clients .container .row .col profile-quotes {
    margin: 25px 0px;
  }

  main .faq-section .container .faq-box {
    width: 90%;
  }

  main .download {
    height: 100vh;
    padding: 2.5rem 0rem;
  }

  main .download .container .text h2 {
    font-size: 1.5rem;
  }

  main .download .container .text p {
    font-size: 1rem;
  }

  main .download .container .stores-image img {
    width: 200px;
  }

  main .download .container .stores-image img {
    width: 150px;
  }

  main .download .container .stores-image {
    margin: 15px 0px 0px 0px;
  }
}